<div class="my-36 single-banner-section overflow-hidden">
  <div class="position-relative overlay-furniture">
    <img
      class="single-banner-img"
      src="/assets/img/community/handwashing1.jpeg"
      alt="handwashing"
    />

    <div class="content-absolute content-slide">
      <div
        class="container height-inherit d-flex align-items-center justify-content-center"
      >
        <div
          class="py-4 text-center"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <h2
            class="text-white font-bold text-2xl sm:text-4xl animate__animated animate__fadeInUp -px-5"
            data-animation="animate__animated animate__fadeInUp"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            Unlocking Potentials; Freedom from poverty
          </h2>
          <div class="flex justify-center my-2">
            <div class="brand-bar-horizontal w-1/4"></div>
          </div>
          <p
            class="text-base mt-5 text-white font-bold animate__animated animate__fadeInUp"
            data-animation="animate__animated animate__fadeInUp"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            We take pride in giving back and empowering the communities in which
            we operate. <br /> Giving back is our DNA
          </p>
          <a
            class="btn-primary hero-slider-button animate__animated animate__fadeInUp mt-5"
            href="/"
            data-animation="animate__animated animate__fadeInUp"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            READ MORE
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
