<div class="about-banner mt-100" data-aos="fade-up" data-aos-duration="700">
  <div class="container">
    <div class="about-banner-wrapper">
      <div class="about-banner-content">
        <div class="w-full flex justify-start gap-4">
          <div class="w-2">
            <div class="brand-bar"></div>
          </div>
          <div class="w-full">
            <h1 class="text-base font-medium text-gray-100">
              The Moreplex eSkills Academy
            </h1>
            <h1 class="header-text-1 text-white">
              Online learning Designed for Vocational Skills
            </h1>
          </div>
        </div>

        <p class="text-base mt-3 text-gray-300">
          With so much to explore, real projects to create, and the support of
          fellow-creatives, Moreplex’s Elearning Academy empowers you to learn
          new skills, accomplish real growth and establish yourself
        </p>

        <a
          href="https://eskills.moreplexgh.com/"
          class="btn-primary hero-slider-button animate__animated animate__fadeInUp my-4 w-full sm:w-fit bg-primaryGold hover:bg-primaryGold"
          >START LEARNING NOW</a
        >
      </div>
    </div>
  </div>
</div>
