<div class="slideshow-section position-relative">
  <div
    class="slideshow-active activate-slider"
    data-slick='{
          "slidesToShow": 1, 
          "slidesToScroll": 1, 
          "dots": true,
          "arrows": true,
          "responsive": [
              {
              "breakpoint": 768,
              "settings": {
                  "arrows": false
              }
              }
          ]
      }'
  >
    <div class="slide-item slide-item-bag position-relative">
      <img
        class="slide-img d-none d-md-block"
        src="assets/img/slideshow/banner2.png"
        alt="slide-1"
      />
      <img
        class="slide-img d-md-none"
        src="assets/img/slideshow/banner2.png"
        alt="slide-1"
      />

      <div class="content-absolute content-slide">
        <div
          class="container height-inherit d-flex align-items-center justify-content-center"
        >
          <div
            class="content-box slide-content slide-content-1 py-4 text-center"
          >
            <h2
              class="slide-heading heading_72 animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp"
            >
              <!-- Slide 1 -->
            </h2>
            <p
              class="slide-subheading heading_24 animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp"
            >
              <!-- Look for your inspiration here -->
            </p>
            <a
              class="btn-primary hero-slider-button animate__animated animate__fadeInUp mt-150"
              href="/"
              data-animation="animate__animated animate__fadeInUp"
              >View Skin Products</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="slide-item slide-item-bag position-relative">
      <img
        class="slide-img d-none d-md-block"
        src="assets/img/slideshow/banner1.png"
        alt="slide-2"
      />
      <img
        class="slide-img d-md-none"
        src="assets/img/slideshow/banner1.png"
        alt="slide-2"
      />
      <div class="content-absolute content-slide mt-100">
        <div
          class="container height-inherit d-flex align-items-center justify-content-end"
        >
          <div
            class="content-box slide-content slide-content-1 py-4 text-center"
          >
            <h2
              class="slide-heading heading_72 animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp"
            >
              <!-- Slide 2 -->
            </h2>
            <p
              class="slide-subheading heading_24 animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp"
            >
              <!-- Look for your inspiration here . -->
            </p>
            <a
              class="btn-primary hero-slider-button animate__animated animate__fadeInUp mt-100 p-10"
              href="/"
              data-animation="animate__animated animate__fadeInUp"
              >Show Products Now</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- home care -->
    <div class="slide-item slide-item-bag position-relative">
      <img
        class="slide-img d-none d-md-block"
        src="assets/img/slideshow/home-care-banner.png"
        alt="home-care-banner"
      />
      <img
        class="slide-img d-md-none"
        src="assets/img/slideshow/home-care-banner.png"
        alt="home-care-banner"
      />
      <div class="content-absolute content-slide mt-100">
        <div
          class="container height-inherit d-flex align-items-center justify-content-end"
        >
          <div
            class="content-box slide-content slide-content-1 py-4 text-center"
          >
            <h2
              class="slide-heading heading_72 animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp"
            >
              <!-- Slide 2 -->
            </h2>
            <p
              class="slide-subheading heading_24 animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp"
            >
              <!-- Look for your inspiration here . -->
            </p>
            <a
              class="btn-primary hero-slider-button animate__animated animate__fadeInUp mt-100 p-10"
              href="/"
              data-animation="animate__animated animate__fadeInUp"
              >Show Products Now</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="slide-item slide-item-bag position-relative">
      <img
        class="slide-img d-none d-md-block"
        src="assets/img/slideshow/skin.jpeg"
        alt="slide-3"
      />
      <img
        class="slide-img d-md-none"
        src="assets/img/slideshow/skin.jpeg"
        alt="slide-3"
      />
      <div class="content-absolute content-slide">
        <div
          class="container height-inherit d-flex align-items-center justify-content-start"
        >
          <div class="content-box slide-content slide-content-1 py-4">
            <p class="text-white text-lg">Introducing...</p>
            <h2
              class="slide-heading heading_72 animate__animated animate__fadeInUp text-secondaryBlue"
              data-animation="animate__animated animate__fadeInUp"
            >
              SmartDerm
            </h2>
            <p
              class="slide-subheading heading_24 animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp"
            >
              Get to know our new Personalized, Ai Powered and clinically
              effective skincare solutions for your skin based on your life,
              habit and environment
            </p>
            <a
              class="btn-primary hero-slider-button animate__animated animate__fadeInUp"
              href="/"
              data-animation="animate__animated animate__fadeInUp"
              >Analyse your skin now</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="slide-item slide-item-bag position-relative overlay-furniture">
      <img
        class="slide-img d-none d-md-block"
        src="assets/img/slideshow/banner3.png"
        alt="slide-3"
      />
      <img
        class="slide-img d-md-none"
        src="assets/img/slideshow/banner3.png"
        alt="slide-3"
      />
      <div class="content-absolute content-slide">
        <div
          class="container height-inherit d-flex align-items-center justify-content-center"
        >
          <div
            class="content-box slide-content slide-content-1 py-4 text-center"
          >
            <h2
              class="animate__animated animate__fadeInUp slide-heading heading_72 text-white stroke-primaryBlue"
              data-animation="animate__animated animate__fadeInUp"
            >
              Giving back to the society
            </h2>
            <p
              class="slide-subheading heading_24 animate__animated animate__fadeInUp"
              data-animation="animate__animated animate__fadeInUp"
            >
              we take pride in giving back and empowering the communities that
              we work in
            </p>
            <a
              class="btn-primary hero-slider-button animate__animated animate__fadeInUp"
              href="/"
              data-animation="animate__animated animate__fadeInUp">Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activate-arrows"></div>
  <div class="activate-dots dot-tools"></div>
</div>
