<div class="instagram-section mt-100 overflow-hidden home-section">
  <div class="instagram-inner">
    <div class="container">
      <div class="section-header text-center">
        <div class="section-icon"></div>
        <h2 class="header-text-1">Impact Stories</h2>
        <div class="flex justify-center my-2">
          <div class="brand-bar-horizontal w-1/12"></div>
        </div>
        <p class="subheader-text-1">
          Real stories of how our products impact our generation
        </p>
      </div>
      <div class="instagram-container position-relative mt-10">
        <div
          class="common-slider"
          data-slick='{
                    "slidesToShow": 4, 
                    "slidesToScroll": 1,
                    "dots": false,
                    "arrows": true,
                    "responsive": [
                      {
                        "breakpoint": 1281,
                        "settings": {
                          "slidesToShow": 3
                        }
                      },
                      {
                        "breakpoint": 768,
                        "settings": {
                          "slidesToShow": 2
                        }
                      }
                    ]
                }'
        >
          <div
            class="instagram-slick-item"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div class="instagram-card">
              <a class="instagram-img-wrapper" href="/">
                <img
                  src="assets/img/category/sanitary_1.jpeg"
                  alt="img"
                  class="instagram-card-img rounded"
                />
              </a>
            </div>
          </div>
          <div
            class="instagram-slick-item"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div class="instagram-card">
              <a class="" href="/">
                <img
                  src="assets/img/category/sanitary_1.jpeg"
                  alt="img"
                  class="instagram-card-img rounded"
                />
              </a>
            </div>
          </div>
          <div
            class="instagram-slick-item"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div class="instagram-card">
              <a class="instagram-img-wrapper" href="/">
                <img
                  src="assets/img/category/sanitary_1.jpeg"
                  alt="img"
                  class="instagram-card-img rounded"
                />
              </a>
            </div>
          </div>
          <div
            class="instagram-slick-item"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div class="instagram-card">
              <a class="instagram-img-wrapper" href="/">
                <img
                  src="assets/img/category/sanitary_1.jpeg"
                  alt="img"
                  class="instagram-card-img rounded"
                />
              </a>
            </div>
          </div>
          <div
            class="instagram-slick-item"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div class="instagram-card">
              <a class="instagram-img-wrapper" href="/">
                <img
                  src="assets/img/category/sanitary_1.jpeg"
                  alt="img"
                  class="instagram-card-img rounded"
                />
              </a>
            </div>
          </div>
          <div
            class="instagram-slick-item"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div class="instagram-card">
              <a class="instagram-img-wrapper" href="/">
                <img
                  src="assets/img/category/sanitary_1.jpeg"
                  alt="img"
                  class="instagram-card-img rounded"
                />
              </a>
            </div>
          </div>
          <div
            class="instagram-slick-item"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div class="instagram-card">
              <a class="instagram-img-wrapper" href="/">
                <img
                  src="assets/img/category/sanitary_1.jpeg"
                  alt="img"
                  class="instagram-card-img rounded"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="activate-arrows show-arrows-always article-arrows arrows-white"
        >
        </div>
      </div>
    </div>
  </div>
</div>
