<div class="my-32 overflow-hidden">
  <div class="">
    <div class="container pb-10 sm:-mb-28">
      <div class="text-center">
        <h2 class="header-text-1">Try our new Pack</h2>
        <div class="flex justify-center my-2">
          <div class="brand-bar-horizontal w-2/12 sm:w-1/12"></div>
        </div>
        <p class="subheader-text-1">Packs packs packs pack</p>
      </div>
      <div class="grid-container mt-10">
        <!-- hair -->
        <a
          class="grid-item grid-item-2 position-relative rounded mt-0 d-flex"
          href="/"
        >
          <img
            class="banner-img"
            src="assets/img/packs/template3-hair.jpeg"
            alt="banner-1"
          />
          <div class="content-absolute content-slide">
            <div class="container height-inherit d-flex">
              <div class="content-box banner-content p-3">
                <p class="heading_16 m-0 primary-color">New Arrivals</p>
                <h2 class="heading_18">Purge <br /> Hair Growth Pack</h2>
                <span class="text_12 mt-2 link-underline d-block"
                  >VIEW PACK
                </span>
              </div>
            </div>
          </div>
        </a>

        <!-- dark skin -->
        <a
          class="grid-item grid-item-2 position-relative rounded mt-0 d-flex"
          href="/"
        >
          <img
            class="banner-img"
            src="assets/img/packs/template3-darkSkin.jpeg"
            alt="banner-1"
          />
          <div class="content-absolute content-slide">
            <div class="container height-inherit d-flex">
              <div class="content-box banner-content p-4">
                <p class="heading_16 m-0 primary-color">New Arrivals</p>
                <h2 class="heading_18">Purge <br /> Dark Skin Pack</h2>
                <span class="text_12 mt-2 link-underline d-block"
                  >VIEW PACK
                </span>
              </div>
            </div>
          </div>
        </a>

        <!-- fair skin -->
        <a
          class="grid-item grid-item-2 position-relative rounded mt-0 d-flex"
          href="/"
        >
          <img
            class="banner-img"
            src="assets/img/packs/template3-fairSkin.jpeg"
            alt="banner-1"
          />
          <div class="content-absolute content-slide">
            <div class="container height-inherit d-flex">
              <div class="content-box banner-content p-4">
                <p class="heading_16 m-0 primary-color">New Arrivals</p>
                <h2 class="heading_18">Purge <br /> Fair Skin Pack</h2>
                <span class="text_12 mt-2 link-underline d-block"
                  >VIEW PACK
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
