<div class="newsletter-section mt-100 overflow-hidden">
  <div class="newsletter-inner">
    <div class="container">
      <div class="bg-pink">
        <div class="row align-items-center">
          <div class="col-lg-6 col-12">
            <div class="newsletter-image">
              <img src="/assets/img/smartderm.jpeg" alt="img" />
            </div>
          </div>
          <div class="col-lg-6 col-12 pr-3 mb-5 mt-2">
            <div class="w-full flex justify-start gap-4 p-2">
              <div class="w-2">
                <div class="brand-bar"></div>
              </div>
              <div class="w-full">
                <h1 class="text-base font-medium">The Moreplex smartDerm</h1>
                <h1 class="header-text-1 lowercase">
                  Personalized Skincare <br />that just work for you
                </h1>
              </div>
            </div>
            <p class="text-base p-2">
              Our personalized skin care solution uses data science and human
              expertise to create an effective skincare regimen that evolves
              with your biology, your environment and your lifestyle. We take
              the guesswork out of your skin care routine so you don’t have to
              go through trials-and-errors and risk damaging your skin.
            </p>

            <a
              class="btn-primary hero-slider-button animate__animated animate__fadeInUp mt-5 uppercase"
              href="http://smartderm.moreplexgh.com/"
              data-animation="animate__animated animate__fadeInUp"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              Analyse your Skin now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
